* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}
li {
  margin-left: 20px;
}
#DisplayCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  /* border: 3px solid green; */
  
 
 
  
  margin-left: 30%;
 
}
img{
 
  height: auto;
  width: 120px;
}
.card-container{
  display: flex;
  
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 0 5px;
  /* background-color: black; */
  color: white;
  /* border: 1px solid black; */
  /* width: 100px; */
  height: 250px;
}
.card-container:hover{
  
  box-shadow: 0 0 20px rgba(209, 212, 7);
  cursor: pointer;
}
.App {
  /* border: 5px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  /* border: 8px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}
.clicked{
  background-color: goldenrod;
  box-shadow: 0 0 20px rgba(209, 212, 7, .9);
}